#dependencies
venv/
__pycache__/

#dataset
data/*
!data/**/*.dvc

#model 
# model/train/
model/detect/
model/val/

#YOLOv5 repo
# model/yolov5/

#MLflow
mlruns/


data/splits/test/labels.cache
data/splits/train/labels.cache
data/splits/val/labels.cache
